#menu { display: block; float: left; }
#menu li { cursor: auto; }
#menu li.link:hover { cursor: pointer; }
#menu li > ul { display: none; }
#menu li > ul.open { display: block; }
#menu li.select { background-color: lightgray; }

article { display: block; }

table {
  border-collapse: collapse;
  border: 1px solid #CCC;
}
th, td {
  padding: 5px 10px;
  border: 1px solid #CCC;
}
th {
  background: #EEE;
}